In [2]:
from nsepython import *   
import datetime

symbol = "NIFTY 50"
days = 20
end_date = datetime.datetime.now().strftime("%d-%b-%Y")
end_date = str(end_date)

start_date = (datetime.datetime.now()- datetime.timedelta(days=days)).strftime("%d-%b-%Y")
start_date = str(start_date)

df2=index_history("NIFTY 50",start_date,end_date)
df2["daily_change"]=df2["CLOSE"].astype(float) / df2["OPEN"].astype(float) #.pct_change()
df2=df2[['Index Name','HistoricalDate','daily_change', 'OPEN','HIGH','LOW', 'CLOSE']]
df2 = df2.iloc[1: , :]
print(df2)

   Index Name HistoricalDate  daily_change      OPEN      HIGH       LOW  \
1    Nifty 50    10 Nov 2022      0.999105  18044.35  18103.10  17969.40
2    Nifty 50    09 Nov 2022      0.992823  18288.25  18296.40  18117.50
3    Nifty 50    07 Nov 2022      0.999509  18211.75  18255.50  18064.75
4    Nifty 50    04 Nov 2022      1.003531  18053.40  18135.10  18017.15
5    Nifty 50    03 Nov 2022      1.004694  17968.35  18106.30  17959.20
6    Nifty 50    02 Nov 2022      0.994771   18177.9  18178.75  18048.65
7    Nifty 50    01 Nov 2022      1.000811   18130.7   18175.8  18060.15
8    Nifty 50    31 Oct 2022      1.005695  17910.20  18022.80  17899.90
9    Nifty 50    28 Oct 2022      1.001712  17756.40  17838.90  17723.70
10   Nifty 50    27 Oct 2022      0.998061  17771.40  17783.90  17654.50
11   Nifty 50    25 Oct 2022      0.991467  17808.30  17811.50  17637.00
12   Nifty 50    24 Oct 2022      0.999684  17736.35  17777.55  17707.40

       CLOSE
1   18028.20
2   18157.00
3   18202.80
4   18117.15
5   18052.70
6   18082.85
7   18145.40
8   18012.20
9   17786.80
10  17736.95
11  17656.35
12  17730.75

In [3]:
nse_events()

,symbol,company,purpose,bm_desc,date
0,MAHAPEXLTD,Maha Rashtra Apex Corporation Limited,Financial results,Maha Rashtra Apex Corporation Limited has inf...,14-Nov-2022
1,AAREYDRUGS,Aarey Drugs & Pharmaceuticals Limited,Financial results,Aarey Drugs & Pharmaceuticals Limited has inf...,14-Nov-2022
2,AARVEEDEN,Aarvee Denims & Exports Limited,Financial results,Aarvee Denims & Exports Limited has informed ...,14-Nov-2022
3,AARVI,Aarvi Encon Limited,Financial results,Aarvi Encon Limited has informed the Exchange...,14-Nov-2022
4,ABHISHEK,Abhishek Corporation Limited,Financial results,Abhishek Corporation Limited has informed the...,14-Nov-2022
...,...,...,...,...,...
274,RAJESHEXPO,Rajesh Exports Limited,Financial results,Rajesh Exports Limited has informed the Excha...,15-Nov-2022
275,HINDZINC,Hindustan Zinc Limited,Dividend,Hindustan Zinc Limited has informed the Excha...,16-Nov-2022
276,JAYSREETEA,Jayshree Tea & Industries Limited,Other business matters,Jayshree Tea & Industries Limited has informed...,18-Nov-2022
277,WANBURY,Wanbury Limited,Financial results,Wanbury Limited has informed the Exchange abou...,28-Nov-2022
278,CROWN,Crown Lifters Limited,Dividend,Crown Lifters Limited has informed the Exchan...,08-Dec-2022

In [4]:
print(nse_fiidii())

    category         date  buyValue sellValue netValue
0     DII **  11-Nov-2022   9849.11   9233.57   615.54
1  FII/FPI *  11-Nov-2022  12533.98   8575.75  3958.23

In [5]:
print(nse_get_fno_lot_sizes()) # mode='pandas'

{'FINNIFTY': 40, 'MIDCPNIFTY': 75, 'BANKNIFTY': 25, 'NIFTY': 50, 'ABBOTINDIA': 40, 'ABFRL': 2600, 'ADANIENT': 250, 'ADANIPORTS': 625, 'AMARAJABAT': 1000, 'ABB': 250, 'AMBUJACEM': 1800, 'APOLLOHOSP': 125, 'APOLLOTYRE': 3500, 'ASHOKLEY': 5000, 'ASIANPAINT': 200, 'AUBANK': 1000, 'BAJFINANCE': 125, 'BANDHANBNK': 1800, 'BANKBARODA': 5850, 'BATAINDIA': 275, 'BEL': 5700, 'BHARTIARTL': 950, 'BHEL': 10500, 'CANFINHOME': 975, 'CHAMBLFERT': 1500, 'CHOLAFIN': 1250, 'CIPLA': 650, 'COALINDIA': 4200, 'COFORGE': 150, 'CONCOR': 1000, 'COROMANDEL': 700, 'ALKEM': 200, 'CROMPTON': 1500, 'CUB': 5000, 'DABUR': 1250, 'ABCAPITAL': 5400, 'DELTACORP': 2300, 'DIVISLAB': 150, 'DLF': 1650, 'DRREDDY': 125, 'EICHERMOT': 175, 'ESCORTS': 275, 'GAIL': 9150, 'GNFC': 1300, 'GODREJCP': 1000, 'GRANULES': 2000, 'ASTRAL': 275, 'GRASIM': 475, 'GUJGASLTD': 1250, 'HAL': 475, 'HCLTECH': 700, 'BAJAJFINSV': 500, 'HDFC': 300, 'HDFCAMC': 300, 'HEROMOTOCO': 300, 'HINDCOPPER': 4300, 'IDFC': 10000, 'IDFCFIRSTB': 15000, 'IGL': 1375, 'INDHOTEL': 4022, 'INDIAMART': 150, 'BALKRISIND': 300, 'INDUSINDBK': 450, 'INDUSTOWER': 2800, 'INTELLECT': 750, 'IOC': 9750, 'JINDALSTEL': 1250, 'JSWSTEEL': 1350, 'KOTAKBANK': 400, 'LALPATHLAB': 250, 'LT': 300, 'LTI': 150, 'LUPIN': 850, 'M&M': 700, 'M&MFIN': 4000, 'MCDOWELL-N': 625, 'METROPOLIS': 300, 'MFSL': 650, 'MGL': 800, 'MPHASIS': 175, 'MUTHOOTFIN': 375, 'NAUKRI': 125, 'NTPC': 5700, 'OBEROIRLTY': 700, 'OFSS': 200, 'PAGEIND': 15, 'PEL': 275, 'PETRONET': 3000, 'PFC': 6200, 'PNB': 16000, 'POWERGRID': 2700, 'RAMCOCEM': 850, 'RBLBANK': 5000, 'RECLTD': 8000, 'CUMMINSIND': 600, 'RELIANCE': 250, 'SAIL': 6000, 'SBICARD': 800, 'SBILIFE': 750, 'SBIN': 1500, 'DALBHARAT': 500, 'SHREECEM': 25, 'SRF': 375, 'SRTRANSFIN': 600, 'SUNTV': 1500, 'TATACHEM': 500, 'DIXON': 125, 'TATAMOTORS': 1425, 'TATAPOWER': 3375, 'TATASTEEL': 4250, 'EXIDEIND': 3600, 'FEDERALBNK': 5000, 'TITAN': 375, 'TORNTPOWER': 1500, 'TRENT': 725, 'VEDL': 1550, 'WHIRLPOOL': 350, 'HONAUT': 15, 'BHARATFORG': 1000, 'ICICIBANK': 1375, 'ATUL': 75, 'AUROPHARMA': 1000, 'AXISBANK': 1200, 'BALRAMCHIN': 1600, 'BOSCHLTD': 50, 'BPCL': 1800, 'BRITANNIA': 200, 'BSOFT': 1300, 'CANBK': 2700, 'ACC': 250, 'INDIACEM': 2900, 'COLPAL': 350, 'IPCALAB': 650, 'JKCEMENT': 250, 'JUBLFOOD': 1250, 'FSL': 5200, 'GLENMARK': 1150, 'GODREJPROP': 325, 'HAVELLS': 500, 'HDFCBANK': 550, 'HDFCLIFE': 1100, 'IBULHSGFIN': 4000, 'ICICIPRULI': 1500, 'IEX': 3750, 'LICHSGFIN': 2000, 'INDIGO': 300, 'INFY': 300, 'IRCTC': 875, 'L&TFH': 8924, 'LAURUSLABS': 900, 'LTTS': 200, 'MANAPPURAM': 6000, 'MARICO': 1200, 'NATIONALUM': 4250, 'MARUTI': 100, 'MCX': 400, 'MINDTREE': 200, 'NAVINFLUOR': 225, 'NESTLEIND': 40, 'MRF': 10, 'POLYCAB': 300, 'ONGC': 3850, 'SUNPHARMA': 700, 'TATACOMM': 500, 'TORNTPHARM': 500, 'TVSMOTOR': 700, 'HINDUNILVR': 300, 'MOTHERSON': 6750, 'BERGEPAINT': 1100, 'GSPL': 2500, 'ICICIGI': 425, 'ITC': 1600, 'PERSISTENT': 150, 'PIIND': 250, 'PVR': 407, 'SIEMENS': 275, 'TATACONSUM': 900, 'TCS': 150, 'TECHM': 600, 'UBL': 400, 'UPL': 1300, 'VOLTAS': 500, 'WIPRO': 1000, 'ZEEL': 3000, 'ZYDUSLIFE': 1800, 'BAJAJ-AUTO': 250, 'PIDILITIND': 250, 'GMRINFRA': 22500, 'BIOCON': 2300, 'IDEA': 70000, 'HINDALCO': 1075, 'RAIN': 3500, 'ULTRACEMCO': 100, 'DEEPAKNTR': 250, 'HINDPETRO': 2700, 'SYNGENE': 1000, 'AARTIIND': 850, 'NMDC': 3350}

In [6]:
# key = "NIFTY"
# key = "BANKNIFTY"
# key = "SME"
# key = "FO"
# key = "OTHERS"
# key = "ALL"
import pandas as pd

def nse_preopen(key="NIFTY"):
    returnTo = []
    payload = nsefetch("https://www.nseindia.com/api/market-data-pre-open?key="+key+"")   
    dataList = payload['data']
    for d in dataList:
      
        obj = {}
        obj['lastUpdateTime'] = d['detail']['preOpenMarket']['lastUpdateTime']
        obj['symbol'] = d['metadata']['symbol']
        obj['lastPrice'] = d['metadata']['lastPrice']
        obj['change'] = d['metadata']['change']
        obj['pChange'] = d['metadata']['pChange']
        obj['previousClose'] = d['metadata']['previousClose']
        obj['yearHigh'] = d['metadata']['yearHigh']
        obj['yearLow'] = d['metadata']['yearLow']
        returnTo.append(obj)
    return returnTo

nse_preopen("NIFTY")

[{'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'INFY',
  'lastPrice': 1546.65,
  'change': 44.700000000000045,
  'pChange': 2.976131029661443,
  'previousClose': 1501.95,
  'yearHigh': 1953.9,
  'yearLow': 1355},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'TECHM',
  'lastPrice': 1049,
  'change': 27.899999999999977,
  'pChange': 2.7323474684164113,
  'previousClose': 1021.1,
  'yearHigh': 1838,
  'yearLow': 943.7},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'BAJFINANCE',
  'lastPrice': 7149,
  'change': 173.89999999999964,
  'pChange': 2.4931542200111774,
  'previousClose': 6975.1,
  'yearHigh': 8045,
  'yearLow': 5220},
 {'lastUpdateTime': '11-Nov-2022 09:07:23',
  'symbol': 'WIPRO',
  'lastPrice': 398.5,
  'change': 9.600000000000023,
  'pChange': 2.4685008999742926,
  'previousClose': 388.9,
  'yearHigh': 726.8,
  'yearLow': 372.4},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'APOLLOHOSP',
  'lastPrice': 4386,
  'change': 100.55000000000018,
  'pChange': 2.3463113558669493,
  'previousClose': 4285.45,
  'yearHigh': 5935.4,
  'yearLow': 3361.55},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'BAJAJFINSV',
  'lastPrice': 1740,
  'change': 39.65000000000009,
  'pChange': 2.331872849707419,
  'previousClose': 1700.35,
  'yearHigh': 1862.1,
  'yearLow': 1072.72},
 {'lastUpdateTime': '11-Nov-2022 09:07:20',
  'symbol': 'COALINDIA',
  'lastPrice': 258.8,
  'change': 5.200000000000017,
  'pChange': 2.0504731861198806,
  'previousClose': 253.6,
  'yearHigh': 263.4,
  'yearLow': 139.15},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'TCS',
  'lastPrice': 3269.6,
  'change': 63.94999999999982,
  'pChange': 1.9949152278009081,
  'previousClose': 3205.65,
  'yearHigh': 4043,
  'yearLow': 2926.1},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'SBIN',
  'lastPrice': 617.25,
  'change': 11.5,
  'pChange': 1.8984729673957903,
  'previousClose': 605.75,
  'yearHigh': 622.7,
  'yearLow': 425},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'TATAMOTORS',
  'lastPrice': 420,
  'change': 7.800000000000011,
  'pChange': 1.8922852983988385,
  'previousClose': 412.2,
  'yearHigh': 536.7,
  'yearLow': 366.2},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'HCLTECH',
  'lastPrice': 1071,
  'change': 18.549999999999955,
  'pChange': 1.7625540405719942,
  'previousClose': 1052.45,
  'yearHigh': 1359.4,
  'yearLow': 877.35},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'ICICIBANK',
  'lastPrice': 925.9,
  'change': 15.199999999999932,
  'pChange': 1.6690457889535448,
  'previousClose': 910.7,
  'yearHigh': 943.25,
  'yearLow': 642.15},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'ASIANPAINT',
  'lastPrice': 3090.7,
  'change': 45.54999999999973,
  'pChange': 1.4958212239134272,
  'previousClose': 3045.15,
  'yearHigh': 3590,
  'yearLow': 2560},
 {'lastUpdateTime': '11-Nov-2022 09:07:23',
  'symbol': 'TATASTEEL',
  'lastPrice': 106.25,
  'change': 1.5499999999999972,
  'pChange': 1.4804202483285551,
  'previousClose': 104.7,
  'yearHigh': 138.67,
  'yearLow': 82.7},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'HDFCBANK',
  'lastPrice': 1545,
  'change': 20.25,
  'pChange': 1.3280865715691097,
  'previousClose': 1524.75,
  'yearHigh': 1722.1,
  'yearLow': 1271.6},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'LT',
  'lastPrice': 2003.6,
  'change': 25.949999999999818,
  'pChange': 1.3121634262887678,
  'previousClose': 1977.65,
  'yearHigh': 2078.55,
  'yearLow': 1456.35},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'ADANIPORTS',
  'lastPrice': 905,
  'change': 11.549999999999955,
  'pChange': 1.292741619564604,
  'previousClose': 893.45,
  'yearHigh': 987.85,
  'yearLow': 651.95},
 {'lastUpdateTime': '11-Nov-2022 09:07:20',
  'symbol': 'HDFCLIFE',
  'lastPrice': 535,
  'change': 6.75,
  'pChange': 1.2778040700425934,
  'previousClose': 528.25,
  'yearHigh': 723.95,
  'yearLow': 497.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:20',
  'symbol': 'HINDALCO',
  'lastPrice': 420.35,
  'change': 5.25,
  'pChange': 1.2647554806070824,
  'previousClose': 415.1,
  'yearHigh': 636,
  'yearLow': 308.95},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'HINDUNILVR',
  'lastPrice': 2545,
  'change': 31.40000000000009,
  'pChange': 1.2492043284532182,
  'previousClose': 2513.6,
  'yearHigh': 2734,
  'yearLow': 1901.55},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'ADANIENT',
  'lastPrice': 4040,
  'change': 47.75,
  'pChange': 1.1960673805498152,
  'previousClose': 3992.25,
  'yearHigh': 4048,
  'yearLow': 1528.8},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'TITAN',
  'lastPrice': 2671,
  'change': 30,
  'pChange': 1.135933358576297,
  'previousClose': 2641,
  'yearHigh': 2791,
  'yearLow': 1825.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'MARUTI',
  'lastPrice': 9200,
  'change': 102.75,
  'pChange': 1.1294622001154195,
  'previousClose': 9097.25,
  'yearHigh': 9769,
  'yearLow': 6536.55},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'ITC',
  'lastPrice': 360,
  'change': 4,
  'pChange': 1.1235955056179776,
  'previousClose': 356,
  'yearHigh': 361.45,
  'yearLow': 207},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'INDUSINDBK',
  'lastPrice': 1140,
  'change': 12.650000000000091,
  'pChange': 1.1221005011753307,
  'previousClose': 1127.35,
  'yearHigh': 1275.8,
  'yearLow': 763.2},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'KOTAKBANK',
  'lastPrice': 1933,
  'change': 20.84999999999991,
  'pChange': 1.090395627958053,
  'previousClose': 1912.15,
  'yearHigh': 2108,
  'yearLow': 1631},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'RELIANCE',
  'lastPrice': 2600,
  'change': 27.5,
  'pChange': 1.0689990281827018,
  'previousClose': 2572.5,
  'yearHigh': 2856.15,
  'yearLow': 2180},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'SBILIFE',
  'lastPrice': 1251,
  'change': 12.650000000000091,
  'pChange': 1.0215205717285172,
  'previousClose': 1238.35,
  'yearHigh': 1340.35,
  'yearLow': 1003.5},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'HDFC',
  'lastPrice': 2526,
  'change': 21.90000000000009,
  'pChange': 0.8745657122319432,
  'previousClose': 2504.1,
  'yearHigh': 3021.1,
  'yearLow': 2026},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'DIVISLAB',
  'lastPrice': 3315,
  'change': 28.25,
  'pChange': 0.8595116756674527,
  'previousClose': 3286.75,
  'yearHigh': 5077.7,
  'yearLow': 3261.1},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'EICHERMOT',
  'lastPrice': 3730,
  'change': 29.15000000000009,
  'pChange': 0.7876568896334651,
  'previousClose': 3700.85,
  'yearHigh': 3889.65,
  'yearLow': 2159.55},
 {'lastUpdateTime': '11-Nov-2022 09:07:21',
  'symbol': 'JSWSTEEL',
  'lastPrice': 706,
  'change': 4.9500000000000455,
  'pChange': 0.7060837315455454,
  'previousClose': 701.05,
  'yearHigh': 790,
  'yearLow': 520.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:21',
  'symbol': 'CIPLA',
  'lastPrice': 1130,
  'change': 7.7000000000000455,
  'pChange': 0.686091062995638,
  'previousClose': 1122.3,
  'yearHigh': 1185.25,
  'yearLow': 850},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'BHARTIARTL',
  'lastPrice': 830.75,
  'change': 5,
  'pChange': 0.6055101422948834,
  'previousClose': 825.75,
  'yearHigh': 841.45,
  'yearLow': 628.75},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'ULTRACEMCO',
  'lastPrice': 6839.95,
  'change': 38.649999999999636,
  'pChange': 0.5682737123785104,
  'previousClose': 6801.3,
  'yearHigh': 8187.85,
  'yearLow': 5157.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:24',
  'symbol': 'ONGC',
  'lastPrice': 140.6,
  'change': 0.75,
  'pChange': 0.5362888809438684,
  'previousClose': 139.85,
  'yearHigh': 194.95,
  'yearLow': 119.85},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'M&M',
  'lastPrice': 1305.1,
  'change': 6.899999999999864,
  'pChange': 0.5315051609921325,
  'previousClose': 1298.2,
  'yearHigh': 1366.55,
  'yearLow': 671.15},
 {'lastUpdateTime': '11-Nov-2022 09:07:21',
  'symbol': 'NTPC',
  'lastPrice': 173,
  'change': 0.9000000000000057,
  'pChange': 0.5229517722254536,
  'previousClose': 172.1,
  'yearHigh': 182.95,
  'yearLow': 119.1},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'UPL',
  'lastPrice': 760,
  'change': 3.8999999999999773,
  'pChange': 0.5158047877264882,
  'previousClose': 756.1,
  'yearHigh': 848,
  'yearLow': 607.5},
 {'lastUpdateTime': '11-Nov-2022 09:07:22',
  'symbol': 'POWERGRID',
  'lastPrice': 216,
  'change': 1.0999999999999943,
  'pChange': 0.5118659841786851,
  'previousClose': 214.9,
  'yearHigh': 248.35,
  'yearLow': 180.3},
 {'lastUpdateTime': '11-Nov-2022 09:07:21',
  'symbol': 'BPCL',
  'lastPrice': 307.05,
  'change': 1.5500000000000114,
  'pChange': 0.5073649754500855,
  'previousClose': 305.5,
  'yearHigh': 434,
  'yearLow': 288.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'SUNPHARMA',
  'lastPrice': 1015.75,
  'change': 5.100000000000023,
  'pChange': 0.5046257359125338,
  'previousClose': 1010.65,
  'yearHigh': 1070.95,
  'yearLow': 733.7},
 {'lastUpdateTime': '11-Nov-2022 09:07:20',
  'symbol': 'GRASIM',
  'lastPrice': 1713.1,
  'change': 8.549999999999955,
  'pChange': 0.5015986624035642,
  'previousClose': 1704.55,
  'yearHigh': 1929.8,
  'yearLow': 1276.6},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'HEROMOTOCO',
  'lastPrice': 2726.1,
  'change': 13.599999999999909,
  'pChange': 0.5013824884792594,
  'previousClose': 2712.5,
  'yearHigh': 2938.6,
  'yearLow': 2146.85},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'TATACONSUM',
  'lastPrice': 772.55,
  'change': 3.849999999999909,
  'pChange': 0.5008455834525704,
  'previousClose': 768.7,
  'yearHigh': 861.15,
  'yearLow': 650.2},
 {'lastUpdateTime': '11-Nov-2022 09:07:19',
  'symbol': 'BAJAJ-AUTO',
  'lastPrice': 3743.25,
  'change': 18.65000000000009,
  'pChange': 0.5007249100574582,
  'previousClose': 3724.6,
  'yearHigh': 4131.75,
  'yearLow': 3027.05},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'BRITANNIA',
  'lastPrice': 4155.35,
  'change': 20.700000000000728,
  'pChange': 0.5006469713276995,
  'previousClose': 4134.65,
  'yearHigh': 4237,
  'yearLow': 3050},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'NESTLEIND',
  'lastPrice': 20276.2,
  'change': 100.90000000000146,
  'pChange': 0.5001164790610373,
  'previousClose': 20175.3,
  'yearHigh': 21050,
  'yearLow': 16000},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'DRREDDY',
  'lastPrice': 4572.2,
  'change': 22.75,
  'pChange': 0.5000604468672037,
  'previousClose': 4549.45,
  'yearHigh': 4931.05,
  'yearLow': 3654},
 {'lastUpdateTime': '11-Nov-2022 09:07:18',
  'symbol': 'AXISBANK',
  'lastPrice': 847,
  'change': 3.2999999999999545,
  'pChange': 0.39113428943936873,
  'previousClose': 843.7,
  'yearHigh': 919.95,
  'yearLow': 618.25}]

In [7]:

pre_open_df = pd.DataFrame(nse_preopen("NIFTY"))
pre_open_df

,lastUpdateTime,symbol,lastPrice,change,pChange,previousClose,yearHigh,yearLow
0,11-Nov-2022 09:07:18,INFY,1546.65,44.70,2.976131,1501.95,1953.90,1355.00
1,11-Nov-2022 09:07:19,TECHM,1049.00,27.90,2.732347,1021.10,1838.00,943.70
2,11-Nov-2022 09:07:18,BAJFINANCE,7149.00,173.90,2.493154,6975.10,8045.00,5220.00
3,11-Nov-2022 09:07:23,WIPRO,398.50,9.60,2.468501,388.90,726.80,372.40
4,11-Nov-2022 09:07:19,APOLLOHOSP,4386.00,100.55,2.346311,4285.45,5935.40,3361.55
5,11-Nov-2022 09:07:18,BAJAJFINSV,1740.00,39.65,2.331873,1700.35,1862.10,1072.72
6,11-Nov-2022 09:07:20,COALINDIA,258.80,5.20,2.050473,253.60,263.40,139.15
7,11-Nov-2022 09:07:19,TCS,3269.60,63.95,1.994915,3205.65,4043.00,2926.10
8,11-Nov-2022 09:07:18,SBIN,617.25,11.50,1.898473,605.75,622.70,425.00
9,11-Nov-2022 09:07:19,TATAMOTORS,420.00,7.80,1.892285,412.20,536.70,366.20
10,11-Nov-2022 09:07:19,HCLTECH,1071.00,18.55,1.762554,1052.45,1359.40,877.35
11,11-Nov-2022 09:07:19,ICICIBANK,925.90,15.20,1.669046,910.70,943.25,642.15
12,11-Nov-2022 09:07:19,ASIANPAINT,3090.70,45.55,1.495821,3045.15,3590.00,2560.00
13,11-Nov-2022 09:07:23,TATASTEEL,106.25,1.55,1.480420,104.70,138.67,82.70
14,11-Nov-2022 09:07:19,HDFCBANK,1545.00,20.25,1.328087,1524.75,1722.10,1271.60
15,11-Nov-2022 09:07:18,LT,2003.60,25.95,1.312163,1977.65,2078.55,1456.35
16,11-Nov-2022 09:07:19,ADANIPORTS,905.00,11.55,1.292742,893.45,987.85,651.95
17,11-Nov-2022 09:07:20,HDFCLIFE,535.00,6.75,1.277804,528.25,723.95,497.05
18,11-Nov-2022 09:07:20,HINDALCO,420.35,5.25,1.264755,415.10,636.00,308.95
19,11-Nov-2022 09:07:19,HINDUNILVR,2545.00,31.40,1.249204,2513.60,2734.00,1901.55
20,11-Nov-2022 09:07:19,ADANIENT,4040.00,47.75,1.196067,3992.25,4048.00,1528.80
21,11-Nov-2022 09:07:18,TITAN,2671.00,30.00,1.135933,2641.00,2791.00,1825.05
22,11-Nov-2022 09:07:19,MARUTI,9200.00,102.75,1.129462,9097.25,9769.00,6536.55
23,11-Nov-2022 09:07:18,ITC,360.00,4.00,1.123596,356.00,361.45,207.00
24,11-Nov-2022 09:07:19,INDUSINDBK,1140.00,12.65,1.122101,1127.35,1275.80,763.20
25,11-Nov-2022 09:07:18,KOTAKBANK,1933.00,20.85,1.090396,1912.15,2108.00,1631.00
26,11-Nov-2022 09:07:19,RELIANCE,2600.00,27.50,1.068999,2572.50,2856.15,2180.00
27,11-Nov-2022 09:07:19,SBILIFE,1251.00,12.65,1.021521,1238.35,1340.35,1003.50
28,11-Nov-2022 09:07:19,HDFC,2526.00,21.90,0.874566,2504.10,3021.10,2026.00
29,11-Nov-2022 09:07:18,DIVISLAB,3315.00,28.25,0.859512,3286.75,5077.70,3261.10
30,11-Nov-2022 09:07:19,EICHERMOT,3730.00,29.15,0.787657,3700.85,3889.65,2159.55
31,11-Nov-2022 09:07:21,JSWSTEEL,706.00,4.95,0.706084,701.05,790.00,520.05
32,11-Nov-2022 09:07:21,CIPLA,1130.00,7.70,0.686091,1122.30,1185.25,850.00
33,11-Nov-2022 09:07:18,BHARTIARTL,830.75,5.00,0.605510,825.75,841.45,628.75
34,11-Nov-2022 09:07:18,ULTRACEMCO,6839.95,38.65,0.568274,6801.30,8187.85,5157.05
35,11-Nov-2022 09:07:24,ONGC,140.60,0.75,0.536289,139.85,194.95,119.85
36,11-Nov-2022 09:07:19,M&M,1305.10,6.90,0.531505,1298.20,1366.55,671.15
37,11-Nov-2022 09:07:21,NTPC,173.00,0.90,0.522952,172.10,182.95,119.10
38,11-Nov-2022 09:07:18,UPL,760.00,3.90,0.515805,756.10,848.00,607.50
39,11-Nov-2022 09:07:22,POWERGRID,216.00,1.10,0.511866,214.90,248.35,180.30
40,11-Nov-2022 09:07:21,BPCL,307.05,1.55,0.507365,305.50,434.00,288.05
41,11-Nov-2022 09:07:18,SUNPHARMA,1015.75,5.10,0.504626,1010.65,1070.95,733.70
42,11-Nov-2022 09:07:20,GRASIM,1713.10,8.55,0.501599,1704.55,1929.80,1276.60
43,11-Nov-2022 09:07:18,HEROMOTOCO,2726.10,13.60,0.501382,2712.50,2938.60,2146.85
44,11-Nov-2022 09:07:19,TATACONSUM,772.55,3.85,0.500846,768.70,861.15,650.20
45,11-Nov-2022 09:07:19,BAJAJ-AUTO,3743.25,18.65,0.500725,3724.60,4131.75,3027.05
46,11-Nov-2022 09:07:18,BRITANNIA,4155.35,20.70,0.500647,4134.65,4237.00,3050.00
47,11-Nov-2022 09:07:18,NESTLEIND,20276.20,100.90,0.500116,20175.30,21050.00,16000.00
48,11-Nov-2022 09:07:18,DRREDDY,4572.20,22.75,0.500060,4549.45,4931.05,3654.00
49,11-Nov-2022 09:07:18,AXISBANK,847.00,3.30,0.391134,843.70,919.95,618.25

In [8]:
positions = nsefetch('https://www.nseindia.com/api/equity-stockIndices?index=SECURITIES%20IN%20F%26O')
# print(positions)
postions_df = pd.DataFrame(positions['data'])
postions_df.columns.values

postions_df[['symbol', 'identifier', 'series', 'open', 'dayHigh', 'dayLow',
       'lastPrice', 'previousClose', 'change', 'pChange', 'yearHigh', 'yearLow', 'nearWKH', 'nearWKL', 'perChange365d',
       'date365dAgo', 'chart365dPath', 'date30dAgo', 'perChange30d']]

,symbol,identifier,series,open,dayHigh,dayLow,lastPrice,previousClose,change,pChange,yearHigh,yearLow,nearWKH,nearWKL,perChange365d,date365dAgo,chart365dPath,date30dAgo,perChange30d
0,NAUKRI,,EQ,3909.95,4127.95,3900.1,4099.65,3815.15,284.50,7.46,6696,3313,38.774642,-23.744340,-45.93,14-Oct-2021,https://static.nseindia.com/sparklines/365d/NA...,16-Sep-2022,-8.06
1,COFORGE,,EQ,3755,3915,3755,3904.15,3676.1,228.05,6.20,6135,3210.05,36.362673,-21.622716,-32.85,14-Oct-2021,https://static.nseindia.com/sparklines/365d/CO...,16-Sep-2022,14.68
2,FSL,,EQ,104.8,109.5,104.5,108.65,102.5,6.15,6.00,206.65,93,47.423179,-16.827957,-51.82,14-Oct-2021,https://static.nseindia.com/sparklines/365d/FS...,16-Sep-2022,-3.14
3,HDFCBANK,,EQ,1545,1637,1538,1611.9,1524.75,87.15,5.72,1722.1,1271.6,6.399164,-26.761560,-14.27,14-Oct-2021,https://static.nseindia.com/sparklines/365d/HD...,16-Sep-2022,-3.09
4,HDFC,,EQ,2526,2688,2523.05,2647.25,2504.1,143.15,5.72,3021.1,2026,12.374632,-30.663870,-16.36,14-Oct-2021,https://static.nseindia.com/sparklines/365d/HD...,16-Sep-2022,-2.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,CONCOR,,EQ,809.95,813.95,765,770,803.3,-33.30,-4.15,828.75,554,7.088989,-38.989170,5.23,14-Oct-2021,https://static.nseindia.com/sparklines/365d/CO...,16-Sep-2022,-3.51
190,CHAMBLFERT,,EQ,303,303,285.15,286,298.8,-12.80,-4.28,516,260.8,44.573643,-9.662577,-14.53,14-Oct-2021,https://static.nseindia.com/sparklines/365d/CH...,16-Sep-2022,-4.17
191,EICHERMOT,,EQ,3730,3739,3501,3519,3700.85,-181.85,-4.91,3889.65,2159.55,9.529135,-62.950615,23.18,14-Oct-2021,https://static.nseindia.com/sparklines/365d/EI...,16-Sep-2022,-0.97
192,INDHOTEL,,EQ,349,349,308.65,317,338.7,-21.70,-6.41,349,171,9.169054,-85.380117,38.64,14-Oct-2021,https://static.nseindia.com/sparklines/365d/IN...,16-Sep-2022,-1.16
193,GNFC,,EQ,647,656,590.4,603.3,673.45,-70.15,-10.42,912,390.1,33.848684,-54.652653,49.71,14-Oct-2021,https://static.nseindia.com/sparklines/365d/GN...,16-Sep-2022,-2.04

In [9]:
def nse_optionchain_ltp(payload,strikePrice,optionType,inp=0,intent=""):
    expiryDate=payload['records']['expiryDates'][inp]
    for x in range(len(payload['records']['data'])):
      if((payload['records']['data'][x]['strikePrice']==strikePrice) & (payload['records']['data'][x]['expiryDate']==expiryDate)):
          if(intent==""): 
              return payload['records']['data'][x][optionType]['lastPrice']
          if(intent=="sell"): 
              return payload['records']['data'][x][optionType]['bidprice']
          if(intent=="buy"): 
              return payload['records']['data'][x][optionType]['askPrice']
          
payload=nse_optionchain_scrapper('BANKNIFTY')
print(nse_optionchain_ltp(payload,41000,"CE",0,"sell"))

1222

In [10]:
print(nse_marketStatus())

{'marketState': [{'market': 'Capital Market', 'marketStatus': 'Close', 'tradeDate': '14-Nov-2022', 'index': 'NIFTY 50', 'last': 18349.7, 'variation': 321.5, 'percentChange': 1.78, 'marketStatusMessage': 'Market is Closed'}, {'market': 'Currency', 'marketStatus': 'Close', 'tradeDate': '14-Nov-2022', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Commodity', 'marketStatus': 'Close', 'tradeDate': '14-Nov-2022', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}, {'market': 'Debt', 'marketStatus': 'Close', 'tradeDate': '14-Nov-2022', 'index': '', 'last': '', 'variation': '', 'percentChange': '', 'marketStatusMessage': 'Market is Closed'}]}

In [11]:
print(nse_fiidii())

    category         date  buyValue sellValue netValue
0     DII **  11-Nov-2022   9849.11   9233.57   615.54
1  FII/FPI *  11-Nov-2022  12533.98   8575.75  3958.23

In [12]:
index_df = nse_index()
index_df = index_df[['timeVal', 'indexName', 'percChange',  'last', 'previousClose', 'high' , 'low', 'open', 'yearHigh', 'yearLow']]
index_df = index_df[((index_df['indexName'] == 'NIFTY 50') |
                      (index_df['indexName'] == 'NIFTY BANK') |
                     (index_df['indexName'] == 'NIFTY NEXT 50') | 
                    
                     (index_df['indexName'] == 'INDIA VIX')
                     )]
index_df

,timeVal,indexName,percChange,last,previousClose,high,low,open,yearHigh,yearLow
0,"Nov 11, 2022 15:33:20",NIFTY 50,1.78,"18,349.70","18,028.20","18,362.30","18,259.35","18,272.35","18,362.30","15,183.40"
1,"Nov 11, 2022 15:33:20",NIFTY NEXT 50,0.96,"43,189.00","42,778.10","43,329.25","43,033.75","43,224.20","45,509.70","35,018.20"
3,"Nov 11, 2022 15:33:20",NIFTY BANK,1.28,"42,137.05","41,603.75","42,345.50","41,918.10","42,163.40","42,345.50","32,155.35"
4,"Nov 11, 2022 15:33:20",INDIA VIX,-7.47,14.4050,15.5675,15.5675,14.2775,15.5675,33.9725,12.0800

In [13]:
nse_index()

,yearLow,last,indexName,yearHigh,previousClose,high,indexType,low,timeVal,percChange,indexOrder,open,indexSubType
0,"15,183.40","18,349.70",NIFTY 50,"18,362.30","18,028.20","18,362.30",eq,"18,259.35","Nov 11, 2022 15:33:20",1.78,0.00,"18,272.35",bm
1,"35,018.20","43,189.00",NIFTY NEXT 50,"45,509.70","42,778.10","43,329.25",eq,"43,033.75","Nov 11, 2022 15:33:20",0.96,1.00,"43,224.20",bm
2,"26,186.70","29,591.95",NIFTY IT,"39,446.70","28,505.75","29,733.15",eq,"29,163.75","Nov 11, 2022 15:33:20",3.81,2.00,"29,182.35",sc
3,"32,155.35","42,137.05",NIFTY BANK,"42,345.50","41,603.75","42,345.50",eq,"41,918.10","Nov 11, 2022 15:33:20",1.28,3.00,"42,163.40",sc
4,12.0800,14.4050,INDIA VIX,33.9725,15.5675,15.5675,eq,14.2775,"Nov 11, 2022 15:33:20",-7.47,4.0000,15.5675,bm
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,-,1199.43,NIFTY BHARAT BOND INDEX - APRIL 2023,-,-,-,-,-,11-NOV-2022,-,-,-,-
105,-,1226.25,NIFTY BHARAT BOND INDEX - APRIL 2030,-,-,-,-,-,11-NOV-2022,-,-,-,-
106,-,1106.23,NIFTY BHARAT BOND INDEX - APRIL 2025,-,-,-,-,-,11-NOV-2022,-,-,-,-
107,-,1116.32,NIFTY BHARAT BOND INDEX - APRIL 2031,-,-,-,-,-,11-NOV-2022,-,-,-,-
108,-,5635.23,NIFTY 10 YEAR SDL INDEX,-,-,-,-,-,11-NOV-2022,-,-,-,-

In [14]:
print(nse_get_advances_declines())
print(nse_get_advances_declines().columns.values)

         symbol identifier series     open  dayHigh   dayLow lastPrice  \
0        NAUKRI                EQ  3909.95  4127.95   3900.1   4099.65
1       COFORGE                EQ     3755     3915     3755   3904.15
2           FSL                EQ    104.8    109.5    104.5    108.65
3      HDFCBANK                EQ     1545     1637     1538    1611.9
4          HDFC                EQ     2526     2688  2523.05   2647.25
..          ...        ...    ...      ...      ...      ...       ...
189      CONCOR                EQ   809.95   813.95      765       770
190  CHAMBLFERT                EQ      303      303   285.15       286
191   EICHERMOT                EQ     3730     3739     3501      3519
192    INDHOTEL                EQ      349      349   308.65       317
193        GNFC                EQ      647      656    590.4     603.3

    previousClose  change  pChange  ...    nearWKH    nearWKL perChange365d  \
0         3815.15  284.50     7.46  ...  38.774642 -23.744340        -45.93
1          3676.1  228.05     6.20  ...  36.362673 -21.622716        -32.85
2           102.5    6.15     6.00  ...  47.423179 -16.827957        -51.82
3         1524.75   87.15     5.72  ...   6.399164 -26.761560        -14.27
4          2504.1  143.15     5.72  ...  12.374632 -30.663870        -16.36
..            ...     ...      ...  ...        ...        ...           ...
189         803.3  -33.30    -4.15  ...   7.088989 -38.989170          5.23
190         298.8  -12.80    -4.28  ...  44.573643  -9.662577        -14.53
191       3700.85 -181.85    -4.91  ...   9.529135 -62.950615         23.18
192         338.7  -21.70    -6.41  ...   9.169054 -85.380117         38.64
193        673.45  -70.15   -10.42  ...  33.848684 -54.652653         49.71

     date365dAgo                                      chart365dPath  \
0    14-Oct-2021  https://static.nseindia.com/sparklines/365d/NA...
1    14-Oct-2021  https://static.nseindia.com/sparklines/365d/CO...
2    14-Oct-2021  https://static.nseindia.com/sparklines/365d/FS...
3    14-Oct-2021  https://static.nseindia.com/sparklines/365d/HD...
4    14-Oct-2021  https://static.nseindia.com/sparklines/365d/HD...
..           ...                                                ...
189  14-Oct-2021  https://static.nseindia.com/sparklines/365d/CO...
190  14-Oct-2021  https://static.nseindia.com/sparklines/365d/CH...
191  14-Oct-2021  https://static.nseindia.com/sparklines/365d/EI...
192  14-Oct-2021  https://static.nseindia.com/sparklines/365d/IN...
193  14-Oct-2021  https://static.nseindia.com/sparklines/365d/GN...

      date30dAgo  perChange30d  \
0    16-Sep-2022         -8.06
1    16-Sep-2022         14.68
2    16-Sep-2022         -3.14
3    16-Sep-2022         -3.09
4    16-Sep-2022         -2.28
..           ...           ...
189  16-Sep-2022         -3.51
190  16-Sep-2022         -4.17
191  16-Sep-2022         -0.97
192  16-Sep-2022         -1.16
193  16-Sep-2022         -2.04

                                          chart30dPath  \
0    https://static.nseindia.com/sparklines/30d/NAU...
1    https://static.nseindia.com/sparklines/30d/COF...
2    https://static.nseindia.com/sparklines/30d/FSL...
3    https://static.nseindia.com/sparklines/30d/HDF...
4    https://static.nseindia.com/sparklines/30d/HDF...
..                                                 ...
189  https://static.nseindia.com/sparklines/30d/CON...
190  https://static.nseindia.com/sparklines/30d/CHA...
191  https://static.nseindia.com/sparklines/30d/EIC...
192  https://static.nseindia.com/sparklines/30d/IND...
193  https://static.nseindia.com/sparklines/30d/GNF...

                                        chartTodayPath  \
0    https://static.nseindia.com/sparklines/today/N...
1    https://static.nseindia.com/sparklines/today/C...
2    https://static.nseindia.com/sparklines/today/F...
3    https://static.nseindia.com/sparklines/today/H...
4    https://static.nseindia.com/sparklines/today/H...
..                                                 ...
189  https://static.nseindia.com/sparklines/today/C...
190  https://static.nseindia.com/sparklines/today/C...
191  https://static.nseindia.com/sparklines/today/E...
192  https://static.nseindia.com/sparklines/today/I...
193  https://static.nseindia.com/sparklines/today/G...

                                                  meta
0    {'symbol': 'NAUKRI', 'companyName': 'Info Edge...
1    {'symbol': 'COFORGE', 'companyName': 'Coforge ...
2    {'symbol': 'FSL', 'companyName': 'Firstsource ...
3    {'symbol': 'HDFCBANK', 'companyName': 'HDFC Ba...
4    {'symbol': 'HDFC', 'companyName': 'Housing Dev...
..                                                 ...
189  {'symbol': 'CONCOR', 'companyName': 'Container...
190  {'symbol': 'CHAMBLFERT', 'companyName': 'Chamb...
191  {'symbol': 'EICHERMOT', 'companyName': 'Eicher...
192  {'symbol': 'INDHOTEL', 'companyName': 'The Ind...
193  {'symbol': 'GNFC', 'companyName': 'Gujarat Nar...

[194 rows x 25 columns]
['symbol' 'identifier' 'series' 'open' 'dayHigh' 'dayLow' 'lastPrice'
 'previousClose' 'change' 'pChange' 'totalTradedVolume' 'totalTradedValue'
 'lastUpdateTime' 'yearHigh' 'yearLow' 'nearWKH' 'nearWKL' 'perChange365d'
 'date365dAgo' 'chart365dPath' 'date30dAgo' 'perChange30d' 'chart30dPath'
 'chartTodayPath' 'meta']

In [15]:
indiavix()
print(index_info("INDIA VIX"))

{'key': 'BROAD MARKET INDICES', 'index': 'INDIA VIX', 'indexSymbol': 'INDIA VIX', 'last': 14.405, 'variation': -1.16, 'percentChange': -7.46, 'open': 15.5675, 'high': 15.5675, 'low': 14.2775, 'previousClose': 15.5675, 'yearHigh': 33.9725, 'yearLow': 12.08, 'pe': '', 'pb': '', 'dy': '', 'perChange365d': 16.81, 'date365dAgo': '14-Oct-2021', 'chart365dPath': 'https://static.nseindia.com/sparklines/365d/INDIA-VIX.jpg', 'date30dAgo': '16-Sep-2022', 'perChange30d': -7.09, 'chart30dPath': 'https://static.nseindia.com/sparklines/30d/INDIA-VIX.jpg', 'chartTodayPath': 'https://static.nseindia.com/sparklines/today/INDIA-VIX.jpg', 'previousDay': 15.5675, 'oneWeekAgo': 15.655, 'oneMonthAgo': 20.175}

In [16]:
S0 = 34950.60
X = 35000.00
Ïƒ = 14.72
t = 3
call_theta,put_theta,call_premium,put_premium,call_delta,put_delta,gamma,vega,call_rho,put_rho=black_scholes_dexter(S0,X,t,Ïƒ="",r=10,q=0.0,td=365)
print(call_theta)
print(put_theta)
print(call_premium)
print(put_premium)
print(call_delta)
print(put_delta)
print(gamma)
print(vega)
print(call_rho)
print(put_rho)

-34.91893232086908
-25.33776939057332
172.00884682182732
192.65354240135275
0.4845700237993539
-0.5154299762006461
0.000872661908454388
12.621092329115475
1.3778633611216327
-1.4964855179670944

In [17]:
print(get_bhavcopy("04-06-2021"))

          SYMBOL  SERIES         DATE1   PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0     1018GS2026      GS   04-Jun-2021       106.00       102.00       102.00
1      20MICRONS      EQ   04-Jun-2021        62.55        63.40        64.35
2     21STCENMGM      EQ   04-Jun-2021        15.95        15.95        16.25
3     3IINFOTECH      EQ   04-Jun-2021         8.95         8.90         9.00
4        3MINDIA      EQ   04-Jun-2021     26261.80     26431.80     26648.70
...          ...     ...           ...          ...          ...          ...
2053   ZODJRDMKJ      BE   04-Jun-2021        36.60        37.40        37.40
2054        ZOTA      EQ   04-Jun-2021       183.75       184.00       184.00
2055       ZUARI      EQ   04-Jun-2021        97.30        97.85        98.40
2056   ZUARIGLOB      EQ   04-Jun-2021        92.55        93.95        94.00
2057   ZYDUSWELL      EQ   04-Jun-2021      2083.75      2095.25      2107.45

       LOW_PRICE  LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0         102.00      102.00        102.00      102.00             50
1          61.30       61.95         61.90       62.25         213663
2          15.95       16.25         16.25       16.25            358
3           8.70        8.85          8.85        8.85       13804265
4       26000.00    26113.70      26110.45    26301.91           2347
...          ...         ...           ...         ...            ...
2053       34.85       35.05         36.45       36.10           8456
2054      160.00      172.95        173.60      174.48         121798
2055       96.05       96.35         96.50       97.08          89071
2056       91.00       93.25         92.65       92.34          53853
2057     2080.00     2091.00       2096.90     2082.57         169249

       TURNOVER_LACS   NO_OF_TRADES  DELIV_QTY  DELIV_PER
0               0.05              1         50     100.00
1             133.00           1813     131248      61.43
2               0.06              8        358     100.00
3            1221.17          15649    9166344      66.40
4             617.31           1771       1192      50.79
...              ...            ...        ...        ...
2053            3.05             72          -          -
2054          212.51           3414      52566      43.16
2055           86.47           1569      50221      56.38
2056           49.73            559      37343      69.34
2057         3524.73           2958     154029      91.01

[2058 rows x 15 columns]

In [18]:
nse_preopen_movers(key="FO")

(        symbol     identifier  \
 0    MOTHERSON   MOTHERSONEQN
 1     ASHOKLEY    ASHOKLEYEQN
 2        BSOFT       BSOFTEQN
 3     INDHOTEL    INDHOTELEQN
 4         INFY        INFYEQN
 5     TVSMOTOR    TVSMOTOREQN
 6        TECHM       TECHMEQN
 7   BAJFINANCE  BAJFINANCEEQN
 8       NAUKRI      NAUKRIEQN
 9     JUBLFOOD    JUBLFOODEQN
 10       WIPRO       WIPROEQN
 11   INTELLECT   INTELLECTEQN
 12  APOLLOHOSP  APOLLOHOSPEQN
 13  BAJAJFINSV  BAJAJFINSVEQN
 14  PERSISTENT  PERSISTENTEQN
 15       CANBK       CANBKEQN
 16         PNB         PNBEQN
 17         LTI         LTIEQN
 18         FSL         FSLEQN
 19      HONAUT      HONAUTEQN
 20  TORNTPOWER  TORNTPOWEREQN
 21     COFORGE     COFORGEEQN
 22        LTTS        LTTSEQN
 23   COALINDIA   COALINDIAEQN
 24    MINDTREE    MINDTREEEQN
 25  NATIONALUM  NATIONALUMEQN
 26         TCS         TCSEQN
 27  HINDCOPPER  HINDCOPPEREQN
 28        BHEL        BHELEQN
 29     MPHASIS     MPHASISEQN
 30        GSPL        GSPLEQN
 31        SBIN        SBINEQN
 32  TATAMOTORS  TATAMOTORSEQN
 33  BANDHANBNK  BANDHANBNKEQN
 34         MGL         MGLEQN
 35     HCLTECH     HCLTECHEQN
 36       L&TFH       L&TFHEQN
 37   ICICIBANK   ICICIBANKEQN
 38       PIIND       PIINDEQN
 39  BANKBARODA  BANKBARODAEQN
 40  AUROPHARMA  AUROPHARMAEQN

                                               purpose  lastPrice  change  \
 0                                           BONUS 1:2      74.25    3.80
 1    ANNUAL GENERAL MEETING/DIVIDEND - RS 1 PER SHARE     152.60    6.00
 2                INTERIM DIVIDEND - RS 1.50 PER SHARE     282.00    9.35
 3                        DIVIDEND - RS 0.40 PER SHARE     349.00   10.30
 4               INTERIM DIVIDEND - RS 16.50 PER SHARE    1546.65   44.70
 5                INTERIM DIVIDEND - RS 3.75 PER SHARE    1138.00   32.05
 6                  SPECIAL DIVIDEND - RS 18 PER SHARE    1049.00   27.90
 7                          DIVIDEND - RS 20 PER SHARE    7149.00  173.90
 8    ANNUAL GENERAL MEETING/DIVIDEND - RS 5 PER SHARE    3909.95   94.80
 9                        DIVIDEND - RS 1.20 PER SHARE     568.00   13.70
 10                             ANNUAL GENERAL MEETING     398.50    9.60
 11                        DIVIDEND - RS 2.5 PER SHARE     434.45   10.45
 12  ANNUAL GENERAL MEETING/DIVIDEND - RS 11.75 PER...    4386.00  100.55
 13  FACE VALUE SPLIT (SUB-DIVISION) - FROM RS 5/- ...    1740.00   39.65
 14  ANNUAL GENERAL MEETING/DIVIDEND - RS 11 PER SHARE    3750.00   85.45
 15                        DIVIDEND - RS 6.5 PER SHARE     314.00    7.05
 16  ANNUAL GENERAL MEETING/DIVIDEND - RS 0.64 PER ...      45.05    1.00
 17                          DIVIDEND- RS 30 PER SHARE    4972.00  109.50
 18                             ANNUAL GENERAL MEETING     104.80    2.30
 19                         DIVIDEND - RS 90 PER SHARE   38725.30  845.15
 20                  INTERIM DIVIDEND - RS 9 PER SHARE     520.05   11.05
 21                 INTERIM DIVIDEND - RS 13 PER SHARE    3755.00   78.90
 22                 INTERIM DIVIDEND - RS 15 PER SHARE    3730.00   77.65
 23                 INTERIM DIVIDEND - RS 15 PER SHARE     258.80    5.20
 24  ANNUAL GENERAL MEETING/DIVIDEND - RS 27 PER SHARE    3550.00   70.20
 25  ANNUAL GENERAL MEETING/DIVIDEND - RS 1.50 PER ...      73.90    1.45
 26                  INTERIM DIVIDEND - RS 8 PER SHARE    3269.60   63.95
 27  ANNUAL GENERAL MEETING/DIVIDEND - RS 1.16 PER ...     112.90    2.15
 28                       DIVIDEND - RE 0.40 PER SHARE      77.00    1.45
 29  ANNUAL GENERAL MEETING/DIVIDEND - RS 46 PER SHARE    1965.10   36.95
 30                          DIVIDEND - RS 2 PER SHARE     238.80    4.45
 31                       DIVIDEND - RS 7.10 PER SHARE     617.25   11.50
 32                     DIVIDEND - RE 0.20/- PER SHARE     420.00    7.80
 33                             ANNUAL GENERAL MEETING     226.20    4.15
 34  ANNUAL GENERAL MEETING/DIVIDEND - RS 15.5 PER ...     894.00   16.00
 35                 INTERIM DIVIDEND - RS 10 PER SHARE    1071.00   18.55
 36                       DIVIDEND - RS 0.50 PER SHARE      82.10    1.35
 37                          DIVIDEND - RS 5 PER SHARE     925.90   15.20
 38  ANNUAL GENERAL MEETING/DIVIDEND - RS  3 PER SHARE    3551.10   56.60
 39  ANNUAL GENERAL MEETING/DIVIDEND - RS 2.85 PER ...     167.95    2.50
 40                             ANNUAL GENERAL MEETING     485.00    7.20

      pChange  previousClose  finalQuantity  totalTurnover     marketCap  \
 0   5.393896          70.45         401796   2.983335e+07  1.336717e+11
 1   4.092769         146.60         257326   3.926795e+07  2.108707e+11
 2   3.429305         272.65          27710   7.814220e+06  4.304575e+10
 3   3.041039         338.70         163463   5.704859e+07  2.982754e+11
 4   2.976131        1501.95          64372   9.956095e+07  5.498257e+12
 5   2.897961        1105.95           7161   8.149218e+06  2.574571e+11
 6   2.732347        1021.10          23876   2.504592e+07  6.459005e+11
 7   2.493154        6975.10           6216   4.443818e+07  1.858089e+12
 8   2.484830        3815.15           1452   5.677247e+06  2.952563e+11
 9   2.471586         554.30          15429   8.763672e+06  2.121363e+11
 10  2.468501         388.90         113576   4.526004e+07  5.759904e+11
 11  2.464623         424.00           3008   1.306826e+06  3.674862e+10
 12  2.346311        4285.45          13438   5.893907e+07  4.374892e+11
 13  2.331873        1700.35          12022   2.091828e+07  1.029171e+12
 14  2.331801        3664.55           1928   7.230000e+06  1.848417e+11
 15  2.296791         306.95          65387   2.053152e+07  2.060335e+11
 16  2.270148          44.05         471168   2.122612e+07  1.309595e+11
 17  2.251928        4862.50           6844   3.402837e+07  2.216552e+11
 18  2.243902         102.50          25751   2.698705e+06  3.143429e+10
 19  2.231116       37880.15             49   1.897540e+06  8.372955e+10
 20  2.170923         509.00           7088   3.686114e+06  8.562188e+10
 21  2.146296        3676.10           1802   6.766510e+06  1.344127e+11
 22  2.126028        3652.35           3818   1.424114e+07  1.002580e+11
 23  2.050473         253.60          60225   1.558623e+07  5.313751e+11
 24  2.017357        3479.80           9890   3.510950e+07  2.238507e+11
 25  2.001380          72.45          64000   4.729600e+06  6.520135e+10
 26  1.994915        3205.65          29372   9.603469e+07  3.284299e+12
 27  1.941309         110.75          19427   2.193308e+06  3.641329e+10
 28  1.919259          75.55         210691   1.622321e+07  9.733586e+10
 29  1.916345        1928.15           1200   2.358120e+06  1.596152e+11
 30  1.898869         234.35           8545   2.040546e+06  6.611147e+10
 31  1.898473         605.75         114691   7.079302e+07  2.324616e+12
 32  1.892285         412.20          87255   3.664710e+07  7.392538e+11
 33  1.868948         222.05          39452   8.924042e+06  1.681106e+11
 34  1.822323         878.00            479   4.282260e+05  5.030160e+10
 35  1.762554        1052.45          27615   2.957566e+07  1.113839e+12
 36  1.671827          80.75          42715   3.506902e+06  5.998151e+10
 37  1.669046         910.70         114232   1.057674e+08  6.345233e+12
 38  1.619688        3494.50           1267   4.499244e+06  2.809949e+11
 39  1.511031         165.45         160994   2.703894e+07  3.080167e+11
 40  1.506907         477.80          30913   1.499280e+07  1.343815e+11

     yearHigh   yearLow       iep  \
 0     169.87     61.80     74.25
 1     169.45     93.20    152.60
 2     585.85    260.55    282.00
 3     348.45    171.00    349.00
 4    1953.90   1355.00   1546.65
 5    1176.90    513.00   1138.00
 6    1838.00    943.70   1049.00
 7    8045.00   5220.00   7149.00
 8    6696.00   3313.00   3909.95
 9     815.48    451.20    568.00
 10    726.80    372.40    398.50
 11    986.65    407.45    434.45
 12   5935.40   3361.55   4386.00
 13   1862.10   1072.72   1740.00
 14   4987.50   3092.05   3750.00
 15    315.50    171.75    314.00
 16     46.00     28.05     45.05
 17   7588.80   3733.30   4972.00
 18    206.65     93.00    104.80
 19  46397.70  30185.35  38725.30
 20    610.00    415.25    520.05
 21   6135.00   3210.05   3755.00
 22   5955.50   2924.20   3730.00
 23    263.40    139.15    258.80
 24   5060.00   2649.20   3550.00
 25    132.70     66.95     73.90
 26   4043.00   2926.10   3269.60
 27    146.35     81.20    112.90
 28     77.45     41.40     77.00
 29   3494.80   1914.05   1965.10
 30    332.40    209.45    238.80
 31    622.70    425.00    617.25
 32    536.70    366.20    420.00
 33    349.55    220.55    226.20
 34   1024.60    665.80    894.00
 35   1359.40    877.35   1071.00
 36     92.20     58.50     82.10
 37    943.25    642.15    925.90
 38   3698.45   2333.55   3551.10
 39    168.15     77.05    167.95
 40    742.00    464.20    485.00

                                        chartTodayPath
 0                                                   -
 1   https://static.nseindia.com/sparklines/today/p...
 2   https://static.nseindia.com/sparklines/today/p...
 3   https://static.nseindia.com/sparklines/today/p...
 4   https://static.nseindia.com/sparklines/today/p...
 5   https://static.nseindia.com/sparklines/today/p...
 6   https://static.nseindia.com/sparklines/today/p...
 7   https://static.nseindia.com/sparklines/today/p...
 8   https://static.nseindia.com/sparklines/today/p...
 9   https://static.nseindia.com/sparklines/today/p...
 10  https://static.nseindia.com/sparklines/today/p...
 11  https://static.nseindia.com/sparklines/today/p...
 12  https://static.nseindia.com/sparklines/today/p...
 13  https://static.nseindia.com/sparklines/today/p...
 14  https://static.nseindia.com/sparklines/today/p...
 15  https://static.nseindia.com/sparklines/today/p...
 16  https://static.nseindia.com/sparklines/today/p...
 17  https://static.nseindia.com/sparklines/today/p...
 18  https://static.nseindia.com/sparklines/today/p...
 19  https://static.nseindia.com/sparklines/today/p...
 20  https://static.nseindia.com/sparklines/today/p...
 21  https://static.nseindia.com/sparklines/today/p...
 22  https://static.nseindia.com/sparklines/today/p...
 23  https://static.nseindia.com/sparklines/today/p...
 24  https://static.nseindia.com/sparklines/today/p...
 25  https://static.nseindia.com/sparklines/today/p...
 26  https://static.nseindia.com/sparklines/today/p...
 27  https://static.nseindia.com/sparklines/today/p...
 28  https://static.nseindia.com/sparklines/today/p...
 29  https://static.nseindia.com/sparklines/today/p...
 30  https://static.nseindia.com/sparklines/today/p...
 31  https://static.nseindia.com/sparklines/today/p...
 32  https://static.nseindia.com/sparklines/today/p...
 33  https://static.nseindia.com/sparklines/today/p...
 34  https://static.nseindia.com/sparklines/today/p...
 35  https://static.nseindia.com/sparklines/today/p...
 36  https://static.nseindia.com/sparklines/today/p...
 37  https://static.nseindia.com/sparklines/today/p...
 38  https://static.nseindia.com/sparklines/today/p...
 39  https://static.nseindia.com/sparklines/today/p...
 40  https://static.nseindia.com/sparklines/today/p...  ,
     symbol identifier                                            purpose  \
 193   GNFC    GNFCEQN  ANNUAL GENERAL MEETING/DIVIDEND - RS 10 PER SHARE

      lastPrice  change   pChange  previousClose  finalQuantity  totalTurnover  \
 193      647.0  -26.45 -3.927537         673.45          42218     27315046.0

         marketCap  yearHigh  yearLow    iep  \
 193  6.175340e+10     912.0    390.1  647.0

                                         chartTodayPath
 193  https://static.nseindia.com/sparklines/today/p...  )

In [19]:
movers=nse_preopen_movers("NIFTY")
# print(gainers)
print(movers)

(        symbol     identifier  \
0         INFY        INFYEQN
1        TECHM       TECHMEQN
2   BAJFINANCE  BAJFINANCEEQN
3        WIPRO       WIPROEQN
4   APOLLOHOSP  APOLLOHOSPEQN
5   BAJAJFINSV  BAJAJFINSVEQN
6    COALINDIA   COALINDIAEQN
7          TCS         TCSEQN
8         SBIN        SBINEQN
9   TATAMOTORS  TATAMOTORSEQN
10     HCLTECH     HCLTECHEQN
11   ICICIBANK   ICICIBANKEQN

                                              purpose  lastPrice  change  \
0               INTERIM DIVIDEND - RS 16.50 PER SHARE    1546.65   44.70
1                  SPECIAL DIVIDEND - RS 18 PER SHARE    1049.00   27.90
2                          DIVIDEND - RS 20 PER SHARE    7149.00  173.90
3                              ANNUAL GENERAL MEETING     398.50    9.60
4   ANNUAL GENERAL MEETING/DIVIDEND - RS 11.75 PER...    4386.00  100.55
5   FACE VALUE SPLIT (SUB-DIVISION) - FROM RS 5/- ...    1740.00   39.65
6                  INTERIM DIVIDEND - RS 15 PER SHARE     258.80    5.20
7                   INTERIM DIVIDEND - RS 8 PER SHARE    3269.60   63.95
8                        DIVIDEND - RS 7.10 PER SHARE     617.25   11.50
9                      DIVIDEND - RE 0.20/- PER SHARE     420.00    7.80
10                 INTERIM DIVIDEND - RS 10 PER SHARE    1071.00   18.55
11                          DIVIDEND - RS 5 PER SHARE     925.90   15.20

     pChange  previousClose  finalQuantity  totalTurnover     marketCap  \
0   2.976131        1501.95          64372   9.956095e+07  5.498257e+12
1   2.732347        1021.10          23876   2.504592e+07  6.459005e+11
2   2.493154        6975.10           6216   4.443818e+07  1.858089e+12
3   2.468501         388.90         113576   4.526004e+07  5.759904e+11
4   2.346311        4285.45          13438   5.893907e+07  4.374892e+11
5   2.331873        1700.35          12022   2.091828e+07  1.029171e+12
6   2.050473         253.60          60225   1.558623e+07  5.313751e+11
7   1.994915        3205.65          29372   9.603469e+07  3.284299e+12
8   1.898473         605.75         114691   7.079302e+07  2.324616e+12
9   1.892285         412.20          87255   3.664710e+07  7.392538e+11
10  1.762554        1052.45          27615   2.957566e+07  1.113839e+12
11  1.669046         910.70         114232   1.057674e+08  6.345233e+12

    yearHigh  yearLow      iep  \
0    1953.90  1355.00  1546.65
1    1838.00   943.70  1049.00
2    8045.00  5220.00  7149.00
3     726.80   372.40   398.50
4    5935.40  3361.55  4386.00
5    1862.10  1072.72  1740.00
6     263.40   139.15   258.80
7    4043.00  2926.10  3269.60
8     622.70   425.00   617.25
9     536.70   366.20   420.00
10   1359.40   877.35  1071.00
11    943.25   642.15   925.90

                                       chartTodayPath
0   https://static.nseindia.com/sparklines/today/p...
1   https://static.nseindia.com/sparklines/today/p...
2   https://static.nseindia.com/sparklines/today/p...
3   https://static.nseindia.com/sparklines/today/p...
4   https://static.nseindia.com/sparklines/today/p...
5   https://static.nseindia.com/sparklines/today/p...
6   https://static.nseindia.com/sparklines/today/p...
7   https://static.nseindia.com/sparklines/today/p...
8   https://static.nseindia.com/sparklines/today/p...
9   https://static.nseindia.com/sparklines/today/p...
10  https://static.nseindia.com/sparklines/today/p...
11  https://static.nseindia.com/sparklines/today/p...  , Empty DataFrame
Columns: [symbol, identifier, purpose, lastPrice, change, pChange, previousClose, finalQuantity, totalTurnover, marketCap, yearHigh, yearLow, iep, chartTodayPath]
Index: [])

In [20]:
nse_most_active(type="securities",sort="volume")
# type = "securities" (default)
# type = "etf"
# type = "sme"

# sort = "volume"
# sort = "value" (default)

,symbol,identifier,lastPrice,pChange,quantityTraded,totalTradedVolume,totalTradedValue,previousClose,exDate,purpose,yearHigh,yearLow,change,open,closePrice,dayHigh,dayLow,lastUpdateTime
0,ZOMATO,ZOMATOEQN,72.65,13.604378,397758848,397758848,2.807780e+10,63.95,None,None,169.00,40.60,8.70,66.00,72.80,73.55,65.50,11-Nov-2022 15:59:52
1,YESBANK,YESBANKEQN,16.85,2.121212,112993914,112993914,1.885868e+09,16.50,03-Jun-2019,ANNUAL GENERAL MEETING/ DIVIDEND - RS 2 PER S...,18.20,12.10,0.35,16.65,16.85,16.95,16.40,11-Nov-2022 15:59:55
2,IDEA,IDEAEQN,8.55,-1.156069,93250736,93250736,7.963613e+08,8.65,18-Aug-2022,ANNUAL GENERAL MEETING,16.80,7.75,-0.10,8.70,8.50,8.75,8.40,11-Nov-2022 15:59:54
3,TATASTEEL,TATASTEELEQN,107.60,2.769819,77933417,77933417,8.373946e+09,104.70,28-Jul-2022,FACE VALUE SPLIT (SUB-DIVISION) - FROM RS 10/-...,138.67,82.70,2.90,106.25,107.55,108.20,106.25,11-Nov-2022 15:59:54
4,PNB,PNBEQN,44.65,1.362089,76514774,76514774,3.418680e+09,44.05,22-Jun-2022,ANNUAL GENERAL MEETING/DIVIDEND - RS 0.64 PER ...,46.00,28.05,0.60,45.05,44.75,45.20,44.10,11-Nov-2022 15:59:50
5,SUZLON,SUZLONEQN,8.25,-0.602410,68794518,68794518,5.703066e+08,8.30,03-Oct-2022,RIGHTS 5:21 @ PREMIUM RS 3/-,12.02,5.41,-0.05,8.50,8.20,8.55,8.20,11-Nov-2022 15:59:53
6,NYKAA,NYKAAEQN,208.00,10.491368,46998979,46998979,9.828426e+09,188.25,10-Nov-2022,BONUS 5:1,428.95,162.50,19.75,192.15,207.85,224.45,188.25,11-Nov-2022 15:59:52
7,MOTHERSON,MOTHERSONEQN,71.00,0.780696,42473474,42473474,3.026235e+09,70.45,03-Oct-2022,BONUS 1:2,169.87,61.80,0.55,74.25,71.05,74.55,69.40,11-Nov-2022 15:59:59
8,UNIONBANK,UNIONBANKEQN,66.70,-0.224383,42272447,42272447,2.850854e+09,66.85,22-Jun-2022,ANNUAL GENERAL MEETING/DIVIDEND - RS 1.90 PER ...,69.35,33.50,-0.15,67.50,66.85,69.35,65.80,11-Nov-2022 15:59:59
9,RVNL,RVNLEQN,51.00,3.869654,39360410,39360410,2.001477e+09,49.10,22-Sep-2022,ANNUAL GENERAL MEETING/DIVIDEND - RS 0.25 PER...,54.15,29.00,1.90,52.25,51.15,52.25,49.35,11-Nov-2022 15:59:30
10,DCXINDIA,DCXINDIAEQN,307.35,48.478261,36271420,36271420,1.090500e+10,207.00,None,None,319.90,287.00,100.35,287.00,308.45,319.90,287.00,11-Nov-2022 15:59:54
11,ASHOKLEY,ASHOKLEYEQN,147.55,0.648022,35596445,35596445,5.271834e+09,146.60,14-Jul-2022,ANNUAL GENERAL MEETING/DIVIDEND - RS 1 PER SHARE,169.45,93.20,0.95,152.60,147.75,154.00,145.15,11-Nov-2022 15:59:55
12,SAIL,SAILEQN,85.55,1.603325,33191044,33191044,2.843477e+09,84.20,20-Sep-2022,ANNUAL GENERAL MEETING,123.95,63.60,1.35,84.40,85.50,87.50,84.20,11-Nov-2022 15:58:46
13,POLICYBZR,POLICYBZREQN,399.90,6.953731,33170651,33170651,1.282311e+10,373.90,None,None,1470.00,367.50,26.00,380.00,399.30,402.30,375.70,11-Nov-2022 15:59:14
14,BANKBARODA,BANKBARODAEQN,162.00,-2.085222,31378106,31378106,5.146951e+09,165.45,17-Jun-2022,ANNUAL GENERAL MEETING/DIVIDEND - RS 2.85 PER ...,168.80,77.05,-3.45,167.95,161.75,168.80,161.40,11-Nov-2022 15:59:29
15,BCG,BCGEQN,36.70,5.308465,31201651,31201651,1.145725e+09,34.85,22-Sep-2022,ANNUAL GENERAL MEETING/DIVIDEND - RE 0.30 PER ...,122.88,29.90,1.85,35.80,36.95,37.90,35.30,11-Nov-2022 15:59:45
16,SOUTHBANK,SOUTHBANKEQN,14.25,-0.696864,31132854,31132854,4.514264e+08,14.35,04-Jul-2022,ANNUAL GENERAL MEETING,15.50,7.25,-0.10,14.70,14.40,14.95,14.25,11-Nov-2022 15:59:18
17,INDHOTEL,INDHOTELEQN,317.00,-6.406850,30427808,30427808,9.769456e+09,338.70,22-Jun-2022,DIVIDEND - RS 0.40 PER SHARE,349.00,171.00,-21.70,349.00,315.35,349.00,308.65,11-Nov-2022 15:59:49
18,IDFCFIRSTB,IDFCFIRSTBEQN,57.50,-0.173611,29854417,29854417,1.726481e+09,57.60,23-Jul-2018,DIVIDEND RE 0.75 PER SHARE,59.45,28.95,-0.10,58.30,57.55,58.50,57.45,11-Nov-2022 15:59:51
19,BHEL,BHELEQN,74.25,-1.720715,29429192,29429192,2.202186e+09,75.55,15-Sep-2022,DIVIDEND - RE 0.40 PER SHARE,77.45,41.40,-1.30,77.00,74.50,77.00,73.90,11-Nov-2022 15:59:15

In [21]:
from nsepython import *  
from datetime import datetime
import pandas as pd

underlying_option_symbol = "BANKNIFTY" 
script_master = pd.read_csv('./scrip_master.csv')

# BANKNIFTY20OCT2232000PE
def getFNOToken(underlying_option_symbol, index, strike, option_type):
    underlying_option_expiry_list = expiry_list(underlying_option_symbol)
    date_object = datetime.strptime(underlying_option_expiry_list[index], '%d-%b-%Y')
    str_date = date_object.strftime('%d%b%Y').replace('20', '')
    str_date = str_date.upper()
    symbol_to = underlying_option_symbol+str_date+strike+option_type
    df = script_master[script_master['symbol'] == symbol_to]
    return df[['symbol', 'token', 'name', 'expiry', 'strike', 'lotsize']]
    
getFNOToken("BANKNIFTY", 0, "41500","CE")

C:\Users\tejal\AppData\Local\Temp\ipykernel_13188\912544131.py:6: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  script_master = pd.read_csv('./scrip_master.csv')

,symbol,token,name,expiry,strike,lotsize
64175,BANKNIFTY17NOV2241500CE,46794,BANKNIFTY,17NOV2022,4150000.0,25

In [22]:

from nsepython import *
def get_atm_strike(symbol):
    symbol = symbol.upper()
    option_chain_json = nse_optionchain_scrapper(symbol)
    data = option_chain_json['filtered']['data']
    ltp = data[0]['PE']['underlyingValue']
    strike_price_list = [x['strikePrice'] for x in data]
    atm_strike = sorted([[round(abs(ltp-i),2),i] for i in strike_price_list])[0][1]
    return atm_strike

def get_pe_ce_price(symbol,atm_strike):
    symbol = symbol.upper()
    option_chain = nse_optionchain_scrapper(symbol)
    for dictt in option_chain['filtered']['data']:
        if dictt['strikePrice'] ==atm_strike:
            pe_price = dictt['PE']['askPrice']
            ce_price = dictt['CE']['askPrice']
            return pe_price,ce_price
        
atm_strike = get_atm_strike("NIFTY")
get_pe_ce_price("NIFTY", atm_strike)

(86, 134.4)

In [24]:
oi_data, ltp, crontime = oi_chain_builder("NIFTY")
oi_data

C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)
C:\Users\tejal\AppData\Roaming\Python\Python310\site-packages\nsepython\rahu.py:147: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  oi_data = oi_data.append(oi_row, ignore_index=True)

,CALLS_Chart,CALLS_OI,CALLS_Chng in OI,CALLS_Volume,CALLS_IV,CALLS_LTP,CALLS_Net Chng,CALLS_Bid Qty,CALLS_Bid Price,CALLS_Ask Price,...,PUTS_Bid Price,PUTS_Ask Price,PUTS_Ask Qty,PUTS_Net Chng,PUTS_LTP,PUTS_IV,PUTS_Volume,PUTS_Chng in OI,PUTS_OI,PUTS_Chart
0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1800.0,3451.75,3534.00,...,0.65,0.85,1500.0,0.05,0.65,56.47,3384.0,607.0,1335.0,0.0
1,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1800.0,3403.30,3486.05,...,0.50,1.05,250.0,-8.85,1.05,58.23,369.0,72.0,72.0,0.0
2,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1500.0,3332.85,3417.45,...,0.70,0.75,2150.0,-0.15,0.75,55.55,11516.0,1703.0,9148.0,0.0
3,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1500.0,3242.85,3497.55,...,0.55,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.00,0.00,0.00,1800.0,3252.35,3373.95,...,0.75,1.00,200.0,-12.65,0.75,53.88,3.0,2.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,0.0,763.0,612.0,4789.0,21.18,0.65,-0.85,2650.0,0.65,0.80,...,1324.25,1388.70,250.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
98,0.0,5191.0,2722.0,13162.0,22.33,0.80,-0.50,1350.0,0.70,0.80,...,1369.70,1461.90,1500.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
99,0.0,672.0,279.0,1933.0,23.44,0.95,-0.35,7150.0,0.60,0.95,...,1414.95,1486.45,1800.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
100,0.0,28511.0,6023.0,54766.0,23.16,0.65,-0.60,30850.0,0.65,0.70,...,1481.45,1559.80,1500.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0
101,0.0,6237.0,-507.0,10436.0,23.62,0.60,-0.65,2000.0,0.60,0.70,...,1517.65,1623.25,1500.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0